.movieActions {
  cursor: pointer;
}

.favouriteButton {
  color: #143774;
  font-size: 0.7em;
  font-weight: bold;
  cursor: pointer;
}

.favouriteButton:hover,
.favouriteButton:focus {
  transform: scale(1.2);
}
