.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.movie {
  margin: 2rem;
  text-align: center;
  box-shadow: 5px 10px 18px #888888;
  padding: 1em;
}

.movieMain {
  display: flex;
}

.movieDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #707070;
  font-size: 0.75rem;
}

.movieActions {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

@media (min-width: 675px) {
  .main {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .movie {
    max-width: 300px;
  }
}
