@import url("https://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,700&display=swap");

body {
  margin: 0;
  font-family: "Ubuntu";
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Typograpy*/

h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 0.8em;
  font-weight: 700;
  color: #143774;
  margin: 0;
}

h4 {
  color: white;
}

a {
  color: #1792d2;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #143774;
}
strong {
  font-weight: 700;
}
